// Colors
// Primary
$VeryDarkBlue: hsl(243, 87%, 12%);
$DesaturatedBlue: hsl(238, 22%, 44%);

// Accent
$BrightBlue: hsl(224, 93%, 58%);
$ModerateCyan: hsl(170, 45%, 43%);

// Neutral
$LightGrayishBlue: hsl(240, 30%, 98%);
$LightGray: hsl(0, 0%, 75%);

// Fonts
// Headings, Call-to-actions, Header Navigation
$fontHeading: "Raleway", sans-serif;
// Weights: 400, 700

// Body
$fontBody: "Open Sans", sans-serif;
// Weights: 400

// Paddings
$padding1: 1.8rem;
$padding2: min(6.2rem, 8vw) min(3.8rem, 4vw);
